<button
  (click)="toggleSidebar.emit()"
  class="
    fixed top-1/5 -translate-y-1/2 z-40 
    flex items-center justify-center
    py-10
    bg-primary hover:bg-secondary
    text-primary-content
    rounded-r-lg shadow-lg
    transition-all duration-300"
  [class.left-20]="isSidebarCollapsed()"
  [class.left-60]="!isSidebarCollapsed()">
  <!-- Expand icon (when collapsed) -->
  @if (isSidebarCollapsed()) {
    <app-svg-icon name="arrow-right"/>
  }
  <!-- Collapse icon (when expanded) -->
  @else {
    <app-svg-icon name="arrow-left"/>
  }
</button>
