# System environment variables
NODE_ENV=development

# Database variables
DB_HOST= # IP or service name: database
DB_PORT= # Port
DB_USERNAME=postgres
DB_PASSWORD= # Password
DB_NAME=homeassistant_db
DB_PERSISTENCE_PATH= # Docker path /volume1/path/folder-name

# IO System variables
IO_SYSTEM_HOST= # IP of IO System
IO_SYSTEM_PORT= # Port

# Backend variables
BACKEND_HOST= # http://IP:PORT/api
BACKEND_PORT= # Port
BACKEND_WS_NAMESPACE_DEVICES=ws/devices
# Cookie: 1h=60 mins * 60 secs * 1000 ms=3600000 ms
BACKEND_COOKIE_SECRET= # Cookie secret
BACKEND_COOKIE_MAX_AGE=3600000
# JWT
BACKEND_JWT_SECRET= # JWT secret
BACKEND_JWT_EXPIRES_IN=1h

# Frontend variables
FRONTEND_HOST= # http://IP:PORT
FRONTEND_PORT= # Port

# Reverse Proxy variables
REVERSE_PROXY_HTTP_PORT=80
REVERSE_PROXY_HTTPS_PORT=443
