<!-- Container -->
<div class="app-popup-container">
  <!-- Header -->
  <div class="app-popup-header">
    <!-- Title -->
    <h1 class="app-popup-header-title">
      {{ _title() }}
    </h1>
    <button
      class="app-popup-header-close-button"
      (click)="onCancel()">
      <app-svg-icon name="close"/>
    </button>
  </div>
  
  <!-- Body -->
  <div class="app-popup-body">
    <!-- Message -->
    <p class="mx-5 mb-5 text-sm md:text-base">
      {{ _message() }}
    </p>

    <!-- Buttons -->
    <div class="flex justify-center gap-5">
      <!-- Cancel Button -->
      <button
        class="app-form-field-submit-button"
        tabindex="1"
        (click)="onCancel()">
        <!-- Icon -->
        <app-svg-icon name="close"/>
      </button>
      <!-- Confirm Button -->
      <button
        class="app-form-field-submit-button"
        tabindex="2"
        (click)="onConfirm()">
        <!-- Icon -->
        <app-svg-icon name="ok"/>
      </button>
    </div>
  </div>
</div>
