<!-- Background -->
<div class="fixed inset-0 bg-black/30 flex items-center justify-center z-50">
  <!-- Popup -->
  <div class="bg-gray-900 rounded-lg shadow-xl border border-primary p-5 w-full max-w-md">
    <!-- Title -->
    <h1 class="font-bold mb-4 text-white">
      {{ title() }}
    </h1>
    <!-- Message -->
    <p class="mb-6 text-sm text-white">
      {{ message() }}
    </p>

    <!-- Buttons -->
    <div class="flex justify-end gap-5">
      <!-- Cancel Button -->
      <button
        class="btn btn-primary"
        tabindex="1"
        (click)="onCancel()">
        <!-- Icon -->        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 opacity-70">
          <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </button>

      <!-- Confirm Button -->
      <button
        class="btn btn-primary"
        tabindex="2"
        (click)="onConfirm()">
        <!-- Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 opacity-70">
          <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
</div>
