# System environment variables
NODE_ENV = development

# Database variables
DB_HOST=?
DB_PORT=?
DB_USERNAME=postgres
DB_PASSWORD=?
DB_NAME=?

# IO System variables
IO_SYSTEM_HOST=?
IO_SYSTEM_PORT=?

# Backend Server variables
BACKEND_HOST=?:?/api
BACKEND_PORT=?
BACKEND_WS_NAMESPACE_DEVICES=?
# Cookie: 1h = 60 mins * 60 secs * 1000 ms = 3600000 ms
BACKEND_COOKIE_SECRET = Esta_es_mi_cookie_secret_muy_muy_muy-secreta
BACKEND_COOKIE_MAX_AGE = 1800000
# JWT
BACKEND_JWT_SECRET=Esta_es_mi_contraseña_super_secreta_que_nadie_debe_saber_nunca_jamas_de_los_jamases
BACKEND_JWT_EXPIRES_IN = 30m

# Frontend variables
FRONTEND_HOST=?:?
FRONTEND_PORT=?
