
.app-form-container {
  @apply flex flex-col gap-2 px-7;
}

.app-form-footer {
  @apply mt-10 flex flex-col items-center gap-2;
}

/* Fields level */
.app-form-field-input {
  @apply
    flex-1
    flex flex-row items-center justify-center;
}

.app-form-field-checkbox {
  @apply flex flex-row items-center;
}

.app-form-field-submit {
  @apply flex flex-col items-center py-5;
}

/* Field checkbox parts*/
.app-form-field-checkbox-span {
  @apply flex-1 text-base text-primary;
}

.app-form-field-checkbox-container {
  @apply flex-2 flex flex-col items-start gap-1;
}

.app-form-field-checkbox-item {
  @apply flex items-center justify-start gap-2 cursor-pointer;
}

.app-form-field-checkbox-item-input {
  @apply checkbox bg-primary text-primary-content;
}

.app-form-field-checkbox-item-text {
  @apply
    text-primary
    text-sm md:text-base;
}

/* Field submit parts */
.app-form-field-submit-button { 
  @apply
    btn btn-xl btn-primary
    text-xs md:text-base
    shadow-lg
    hover:btn-secondary
    focus-visible:outline-2
    focus-visible:outline-offset-4
    focus-visible:outline-primary;
}

/* Form footer parts */
.app-form-footer-text {
  @apply
    text-base-content
    text-xs md:text-sm;
}

.app-form-footer-link {
  @apply 
    ml-1 px-1  
    text-primary
    text-xs md:text-sm
    font-bold
    rounded-lg
    hover:text-secondary
    focus-visible:outline-2
    focus-visible:outline-offset-2
    focus-visible:outline-primary;
}
