<div class="card bg-base-100 w-96 shadow-sm m-5 border">
  <!--
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes" />
  </figure>
  -->
  <div class="card-body">
    <h2 class="card-title">
      
      <div
        class="badge"
        [ngClass]="{
          'bg-white' : status() === DeviceStatus.unknown,
          'bg-gray-500' : status() === DeviceStatus.isOff,
          'bg-green-500' : status() === DeviceStatus.isOn}">
      </div>

      {{ this.device().name }}
    </h2>
    
    <span>
      {{ this.isConnected() ? 'Connected' : 'Disconnected' }}
    </span>

    <p>{{ this.device().description }}</p>
    
    <div class="card-actions justify-end">
      
      <button class="btn btn-primary" (click)="setOff()">
        OFF
      </button>
      
      <button class="btn btn-primary" (click)="setOn()">
        ON
      </button>

    </div>
  </div>
</div>