<!-- Header -->
<header
  class=" 
    sticky top-0 z-20
    bg-base-200
    shadow-lg
    border-b-2 border-primary/50
    flex justify-between items-center
    px-2 py-5">
  <!--Logo -->
  <app-layout-brand-name
    [isSidebarCollapsed]="false"/>
  
  <!-- Language Switcher button -->
  <section
    class="
      flex-1
      menu menu-horizontal px-1 gap-2 items-stretch">
    <app-layout-theme-switcher
      id="auth-theme"
      [isSidebarCollapsed]="false"/>
    <app-layout-language-switcher
      id="auth-language"
      [isSidebarCollapsed]="false"/>
  </section>

</header>

<!-- Main -->
<main
  class="
    flex-1 overflow-auto
    flex justify-center items-center">
  
  <router-outlet/>  
    
</main>