<!-- Window -->
<div class="flex items-center justify-center min-h-screen">

  <!-- Container -->
  <div class="w-full max-w-md bg-base-100 shadow-2xl rounded-lg p-5">

    <!-- Header -->
    <div class="flex flex-1 justify-between items-center my-5">

      <!--Title -->
      <div class="flex justify-center items-center">
        <h1 class="text-2xl font-montserrat font-bold text-primary text-center m-5">
          {{ 'AUTH.LAYOUT.TITLE' | translate }}
        </h1>
      </div>
      
      <!-- Language Switcher button -->
      <div class="flex justify-end items-center gap-2">
        <app-theme-switcher/>
        <app-language-switcher/>
      </div>

    </div>
   
    <!-- Page -->
    <router-outlet/>  

  </div>

</div>