<div class="flex items-center justify-center min-h-screen">

  <div class="w-full max-w-xs bg-white/90 shadow-2xl rounded-lg p-5">

    <!-- Header -->
    <div class="flex flex-1 justify-between items-center pb-5">

      <div class="flex justify-center items-center">

        <h1 class="tex-2xl font-montserrat font-bold text-primary text-center">
          {{ 'AUTHENTICATION_LAYOUT.TITLE' | translate }}
        </h1>
      </div>
      
      <div class="flex justify-end items-center gap-2">

        <app-switch-language/>

        <!--
        <button 
          type="button"
          (click)="changeLanguage('en')"
          [ngClass]="{
            'btn-primary': languageService.currentLang() === 'en',
            'btn-ghost border border-primary/50': languageService.currentLang() !== 'en'}"
          class="btn btn-sm">
          EN
        </button>

        <button 
          type="button"
          (click)="changeLanguage('es')"
          [ngClass]="{
            'btn-primary': languageService.currentLang() === 'es',
            'btn-ghost border border-primary/50': languageService.currentLang() !== 'es'}"
          class="btn btn-sm">
          ES
        </button>
        -->
      </div>

    </div>
    
    
    <router-outlet/>  

  </div>

  

</div>