<!-- Title -->
<h1 class="tex-2xl font-montserrat font-bold text-primary text-center">
  {{ 'AUTH.LOGIN_USER.TITLE' | translate }}
</h1>

<!-- Login form -->
<form 
  class="mt-4 flex flex-col gap-2"
  [formGroup]="form"
  (ngSubmit) = "onSubmit()">

  <!-- Email field -->
  <label class="flex items-center gap-2 input input-bordered">
    <!-- icon -->
    <app-svg-icon name="email"/>
    <!-- input -->
    <input
      type="text"
      class="grow"
      placeholder="{{ 'AUTH.LOGIN_USER.FORM.EMAIL_PLACEHOLDER' | translate }}"
      formControlName="email"/>
  </label>

  <app-form-field-error  [control]="form.controls['email']" />
  
  <!-- Password field -->
  <label class="flex items-center gap-2 input input-bordered">
    <!-- icon -->
    <app-svg-icon name="key"/>
    

    <input
      [type]="showPassword() ? 'text' : 'password'"
      class="grow"
      placeholder="{{ 'AUTH.LOGIN_USER.FORM.PASSWORD_PLACEHOLDER' | translate }}"
      formControlName="password"
    />

    <!-- Show/hide button -->
    <button
      type="button"
      tabindex="-1"
      (click)="toggleShowPassword()">
      <!-- Show/hide icon -->
      @if (showPassword()) { <app-svg-icon name="eye-show"/> }
      @else { <app-svg-icon name="eye-hide"/> }
    </button>
  </label>
    
  <app-form-field-error  [control]="form.controls['password']" />
  
  <!-- Submit button -->
  <button 
    type="submit" 
    class="btn btn-primary"
  >
    {{ 'AUTH.LOGIN_USER.FORM.SUBMIT_BUTTON' | translate }}
  </button>
  
</form>

<!-- Register link -->
<div class="mt-4 flex flex-col items-center gap-2">
  <p class="text-slate-700">
    {{ 'AUTH.LOGIN_USER.REGISTER.TEXT' | translate }}

    <a routerLink="/auth/register" class="text-primary">
      {{ 'AUTH.LOGIN_USER.REGISTER.LINK' | translate }}
    </a>

  </p>
</div>
