<!-- Container -->
<div class="app-popup-container">
  <!-- Header -->
  <header class="app-popup-header">
    <!-- Title -->
    <h1 class="app-popup-header-title">
      {{ 'AUTH.LOGIN_USER.TITLE' | translate }}
    </h1>
    <!-- Cancel button  
    <button 
      class="app-popup-header-close-button hidden"
      tabindex="5">
      <!--(click)="onCancel()"
      <!-- Icon 
      <app-svg-icon name="close"/>
    </button>
    -->
  </header>
  <!-- Body -->
  <div class="app-popup-body">
      <!-- Login form -->
    <form 
      class="app-form-container"
      [formGroup]="form"
      (ngSubmit) = "onSubmit()">

      <!-- Email field -->
      <div class="app-form-field-input focus-visible:outline-2
    focus-visible:outline-offset-2
    focus-visible:outline-primary ">
        <label class="input">
          <!-- icon -->
          <app-svg-icon name="email"/>
          <!-- input -->
          <input
            class="grow"
            tabindex="1"
            type="text"
            autofocus
            placeholder="{{ 'AUTH.LOGIN_USER.FORM.EMAIL_PLACEHOLDER' | translate }}"
            formControlName="email"/>
        </label>
      </div>
      <app-form-field-error  [control]="form.controls['email']" />
      
      <!-- Password field -->
      <div class="app-form-field-input">
        <label class="input">
          <!-- icon -->
          <app-svg-icon name="key"/>
          <!-- input -->        
          <input
            class="grow"
            tabindex="2"
            [type]="showPassword() ? 'text' : 'password'"
            placeholder="{{ 'AUTH.LOGIN_USER.FORM.PASSWORD_PLACEHOLDER' | translate }}"
            formControlName="password"/>
          <!-- Show/hide button -->
          <button
            type="button"
            tabindex="-1"
            (click)="toggleShowPassword()">
            <!-- Show/hide icon -->
            @if (showPassword()) { <app-svg-icon name="eye-show"/> }
            @else { <app-svg-icon name="eye-hide"/> }
          </button>
        </label>
      </div>
      <app-form-field-error  [control]="form.controls['password']" />
      
      <!-- Submit button -->
      <div class="app-form-field-submit">
        <button 
          class="app-form-field-submit-button"
          tabindex="3"
          type="submit">
          {{ 'AUTH.LOGIN_USER.FORM.SUBMIT_BUTTON' | translate }}
        </button>
      </div>
      
    </form>

    <!-- Register link -->
    <footer class="app-form-footer">
      <p class="app-form-footer-text">
        {{ 'AUTH.LOGIN_USER.REGISTER.TEXT' | translate }}

        <a routerLink="/auth/register"
          class="app-form-footer-link" 
          tabindex="4">
          {{ 'AUTH.LOGIN_USER.REGISTER.LINK' | translate }}
        </a>
      </p> 
    </footer>

  </div>
  
</div>