<section class="app-table-container">
  <!-- Table -->
  <table class="app-table">
    <!-- Header -->
    <thead class="app-table-header">
      <tr>
        <!-- col 1: Status -->
        <th class="app-table-header-row-field text-center w-1">
          {{ 'AUTH.USER_ADMIN_TABLE.TABLE.HEADER.STATUS' | translate }}
        </th>
        <!-- col 2: Name -->
        <th class="app-table-header-row-field ">
          {{ 'AUTH.USER_ADMIN_TABLE.TABLE.HEADER.NAME' | translate }}
        </th>
        <!-- col 3: Roles -->
        <th class="app-table-header-row-field">
          {{ 'AUTH.USER_ADMIN_TABLE.TABLE.HEADER.ROLES' | translate }}
        </th>
        <!-- col 4: Edit and delete buttons -->
        <th class="app-table-header-row-field w-1"> 
          
        </th>
      </tr>
    </thead>
    <!-- Rows -->
    <tbody class="app-table-body ">
      @for (user of users.value(); track user.id) {
        <!-- row x -->
        <tr>
          <!-- Col 1: Status -->
          <td class="app-table-body-row-field">
            <span class="app-table-body-row-field-status">
              {{ user.isActive ? '🟢' : '🟠' }}
            </span>
          </td>
          <!-- Col 2: Name -->
          <td class="app-table-body-row-field">
            <div class="app-table-body-row-field-left">
              <span class="app-table-body-row-field-text">{{ user.fullname }}</span>
              <span class="app-table-body-row-field-text italic text-primary/50">{{ user.email }}</span>
            </div>
          </td>
          <!-- Col 3: Roles -->
          <td class="app-table-body-row-field">
            <div class="app-table-body-row-field-roles">
              @for (role of user.roles; track $index) {
                <span class="app-table-body-row-field-roles-button">{{ role }}</span>
              }
            </div>
          </td>
          <!-- Col 4: Edit and delete buttons -->
          <td class="app-table-body-row-field">
            <div class="app-table-body-row-field-actions">
              <!-- Edit button-->
              <button
                class="app-table-body-row-field-actions-button"
                (click)="onUpdateOne(user)">
                <!--edit icon-->
                <app-svg-icon name="edit"/>
              </button>
              <!-- Delete button -->
              <button 
                [disabled]="user.id === currentUserId()"
                class="app-table-body-row-field-actions-button"
                (click)="onDeleteOne(user)">
                <!--delete icon-->
                <app-svg-icon name="delete"/>
              </button>

            </div>
            
          </td>
        </tr>
      
      } 
      @empty {
        <span class="text-secondary">
          {{ 'AUTH.USER_ADMIN_TABLE.TABLE.NO_DATA' | translate }}
        </span>
      }
      
    </tbody>
  </table>
</section>
