<!-- All screen -->
<div 
  class="w-screen h-screen flex antialiased overflow-hidden">
  <!-- Left side menu position -->
  <header
    class="
      shrink-0
      h-screen overflow-y-auto
      shadow-lg
      bg-base-200
      border-r-2 border-primary/50
      transition-all duration-300"
    [class.w-20]="isSidebarCollapsed()"
    [class.w-60]="!isSidebarCollapsed()">
    <!-- Title, subtitle -->
    <section
      class="my-2 transition-all duration-300"
      [class.px-0]="isSidebarCollapsed()"
      [class.px-6]="!isSidebarCollapsed()">
      <!-- Title-->
      <app-layout-brand-name
        [isSidebarCollapsed]="isSidebarCollapsed()"/>
      <!-- Subtitle -->
      <app-layout-subtitle
        [isSidebarCollapsed]="isSidebarCollapsed()"
        subtitle="MAIN_DASHBOARD.LAYOUT.SUBTITLE"/>
    </section>
    
    <!-- Divider -->
    <div class="divider my-0"></div>
      
    <!-- Option buttons -->
    <section
      class="menu menu-horizontal px-1 gap-2 items-stretch">
      <!-- Theme toggle button -->
      <div class="flex-2 flex justify-center">
        <app-layout-theme-switcher
          id="main-theme"
          [isSidebarCollapsed]="isSidebarCollapsed()"/>
      </div>
      <!-- Language button -->
      <div class="flex-5 flex justify-center">
        <app-layout-language-switcher
          id="main-language"
          [isSidebarCollapsed]="isSidebarCollapsed()"/>
      </div>
    </section>

    <!-- Divider -->
    <div class="divider my-0"></div>

    <!-- User name -->
    <app-layout-user-name
      [isSidebarCollapsed]="isSidebarCollapsed()"
      [fullname]="userApi.user()?.fullname || '???'"
      welcomeText="MAIN_DASHBOARD.LAYOUT.WELCOME"/>
      
    <!-- Divider -->
    <div class="divider my-0"></div>

    <!-- Navigation buttons -->
    <nav class="w-full px-3">

      <!-- Admin Panel button -->
      @if (userApi.isAdmin()) {
        <app-layout-link-button-secondary
          title="MAIN_DASHBOARD.LAYOUT.NAV_BUTTONS.ADMIN.TITLE"
          subtitle="MAIN_DASHBOARD.LAYOUT.NAV_BUTTONS.ADMIN.SUBTITLE"
          path="/admin/dashboard"
          [isCollapsed]="isSidebarCollapsed()"
          svgIconName="tools"/>
        <div class="divider my-0"></div>
      }

      <!-- Devices button -->
      <app-layout-link-button-primary
        title="MAIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DEVICES.TITLE"
        subtitle="MAIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DEVICES.SUBTITLE"
        path="/devices"
        [isCollapsed]="isSidebarCollapsed()"
        svgIconName="lamp"/>

    </nav> 

    <!-- Logout button -->
    <app-layout-logout-button
      [isSidebarCollapsed]="isSidebarCollapsed()"/>
      
    <!-- Toggle sidebar button -->
    <app-layout-toggle-sidebar-button
      [isSidebarCollapsed]="isSidebarCollapsed()"
      (toggleSidebar)="toggleSidebar()"/>
  
  </header>
    
  <!-- Main content -->
  <main 
    class="flex-1 overflow-auto pl-10 pr-5">
    <router-outlet/>
  </main>
  
</div>
