<!-- All screen -->
<div 
  class="overflow-y-scroll w-screen h-screen antialiased">
  
  <!-- Left side menu position -->
  <div class="flex flex-col relative w-screen">

    <!-- Left side menu -->
    <div
      id="menu"
      class="bg-base-300
        min-h-screen z-30
        fixed left-0 h-screen overflow-y-scroll transition-all duration-300"
      [class.w-20]="isSidebarCollapsed()"
      [class.w-60]="!isSidebarCollapsed()">
      
      <!-- Title, subtitle -->
      <div
        class="my-2 transition-all duration-300"
        [class.px-0]="isSidebarCollapsed()"
        [class.px-6]="!isSidebarCollapsed()">
        <!-- Title-->
        <h1 
          class="text-lg md:text-2xl
            font-bold gap-2
            flex
            items-center justify-center
            transition-opacity duration-300">
          <span class="text-base-content">{{ isSidebarCollapsed() ? 'H' : 'Home' }}</span>
          <span class="text-primary">{{ isSidebarCollapsed() ? 'A' : 'Assistant' }}</span>
        </h1>
        <!-- Subtitle -->
        <p 
          class="text-sm transition-opacity duration-300"  
          [class.text-primary/70]="!isSidebarCollapsed()"
          [class.text-transparent]="isSidebarCollapsed()">
          {{ isSidebarCollapsed() ? '...' : 'MAIN_DASHBOARD.LAYOUT.SUBTITLE' | translate }}
        </p>
      </div>
      
      <!-- Divider -->
      <div class="divider my-0"></div>
      
      <!-- Option buttons >-->
      <div
        class="flex flex-row items-center my-2"
        [class.flex-row]="!isSidebarCollapsed()"
        [class.flex-col]="isSidebarCollapsed()">
        <!-- Theme toggle button -->
        <div class="flex-2 flex justify-center">
          <app-theme-switcher 
            [isSidebarCollapsed] = "isSidebarCollapsed()"/>
        </div>
        <!-- Language button -->
        <div class="flex-5 flex justify-center">
          <app-language-switcher
            [isSidebarCollapsed] = "isSidebarCollapsed()"/>
        </div>
      </div>

      <!-- Divider -->
      <div class="divider my-0"></div>

      <!-- Administrator info-->
      <div 
        id="profile" 
        class="py-2 transition-all duration-300"
        [class.px-0]="isSidebarCollapsed()"
        [class.px-6]="!isSidebarCollapsed()">

        <!-- Not collapsed: Show welcome message -->
        @if (isSidebarCollapsed()) {
          <!-- Full name -->
          <div 
            id ="profile-initials"
            class="bg-primary text-primary-content
            mask mask-circle
            font-bold text-lg
            w-14 h-14 transition-opacity duration-300 
            flex items-center justify-center
            whitespace-nowrap mx-auto">
            {{ fullNameInitials }}
          </div>
        }
        @else  {
          <p class="text-primary/70 transition-opacity duration-300">
            {{ 'MAIN_DASHBOARD.LAYOUT.WELCOME' | translate }}
          </p>

          <!-- Full name -->
          <div class="inline-flex space-x-2 items-center">
            <span 
              class=" text-primary text-sm md:text-base font-bold transition-opacity duration-300">
              {{ user()?.fullname || '???' }}
            </span>
          </div>
        }
      </div>

      <!-- Divider -->
      <div class="divider my-0"></div>

      <!-- Navigation buttons -->
      <div id="nav" class="w-full px-3">

        <!-- Admin Panel button -->
        @if (isAdmin()) {
          <app-link-button
            title="{{ 'MAIN_DASHBOARD.LAYOUT.NAV_BUTTONS.ADMIN.TITLE' | translate }}"
            subtitle="{{ 'MAIN_DASHBOARD.LAYOUT.NAV_BUTTONS.ADMIN.SUBTITLE' | translate }}"
            path="/admin/dashboard"
            [isCollapsed]="isSidebarCollapsed()"
            svgIconName="tools"/>

          <div class="divider my-0"></div>
        }

        <!-- Devices button -->
        <app-link-button
          title="{{ 'MAIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DEVICES.TITLE' | translate }}"
          subtitle="{{ 'MAIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DEVICES.SUBTITLE' | translate }}"
          path="/devices"
          [isCollapsed]="isSidebarCollapsed()"
          svgIconName="lamp"/>































      </div> 

      <!-- Logout button -->
      <div class="flex flex-col items-center pt-20">
        <button
          class="btn btn-primary flex rounded-lg"
          [class.justify-center]="isSidebarCollapsed()"
          (click)="logout()">
          <!-- Elements -->
          <div class="flex justify-between items-center">
            <!-- logout icon -->
            <app-svg-icon name="logout"/>
            <!-- logout text -->
            @if (!isSidebarCollapsed()) {
              <span class="ml-2">
                {{ 'MAIN_DASHBOARD.LAYOUT.LOGOUT.BUTTON' | translate }}
              </span>
            }
          </div>
        </button>
      </div> 
      
      <!-- Toggle sidebar button -->
      <button
        (click)="toggleSidebar()"
        class="flex fixed top-1/5 -translate-y-1/2 z-40 
               bg-primary text-primary-content  py-10 rounded-r-lg shadow-lg
               hover:bg-primary/80 transition-all duration-300
               items-center justify-center"
        [class.left-20]="isSidebarCollapsed()"
        [class.left-60]="!isSidebarCollapsed()">
        <!-- Expand icon (when collapsed) -->
        @if (isSidebarCollapsed()) {
          <app-svg-icon name="arrow-right"/>
        }
        <!-- Collapse icon (when expanded) -->
        @else {
          <app-svg-icon name="arrow-left"/>
        }
      </button>

    </div>
  </div>

  <!-- Main content -->
  <div 
    class="flex-1 pt-5 px-5 transition-all duration-300"
    [class.ml-25]="isSidebarCollapsed()"
    [class.ml-65]="!isSidebarCollapsed()">
    <router-outlet/>
  </div>
  
</div>
