<!-- Container -->
<div class="popup-container">
  <!-- Header -->
  <header class="popup-header">
    <!-- Title -->
    <h1 class="popup-header-title">
      {{ 'AUTH.EDIT_USER.TITLE' | translate }}
    </h1>
    <!-- Cancel button -->
    <button 
      class="popup-header-close-button" 
      (click)="onCancel()">
      <!-- Icon -->
      <app-svg-icon name="close"/>
    </button>
  </header>
  
  <!-- Login form -->
  <form 
    class="m-5 flex flex-col gap-2"
    [formGroup]="form"
    (ngSubmit) = "onSubmit()">

    <!-- Fullname field -->
    <label class="flex items-center gap-2 input input-bordered">
      <!-- icon -->
      <app-svg-icon name="user"/>
      <!-- input -->
      <input
        type="text"
        class="grow"
        placeholder="{{ 'AUTH.EDIT_USER.FORM.FULLNAME_PLACEHOLDER' | translate }}"
        formControlName="fullname"/>

    </label>

    <app-form-field-error  [control]="form.controls['fullname']" />

    <!-- Email field -->
    <label class="flex items-center gap-2 input input-bordered">
      <!-- icon -->
      <app-svg-icon name="email"/>
      <!-- input -->
      <input
        type="text"
        class="grow"
        placeholder="{{ 'AUTH.EDIT_USER.FORM.EMAIL_PLACEHOLDER' | translate }}"
        formControlName="email"/>
    </label>

    <app-form-field-error  [control]="form.controls['email']" />

    <!-- Roles field -->
    <label 
      id="roles"
      class="flex justify-items-center items-center gap-2 p-2">
      <!-- title -->
      <span class="text-primary">
        {{ 'AUTH.EDIT_USER.FORM.ROLES_LABEL' | translate }}
      </span>
      <!-- Input -->
      <div class="flex flex-col gap-2">

        @for (role of availableRoles; track role.value) {
          <label class="flex items-center gap-2 cursor-pointer">
            <!-- checkbox-->
            <input
              class="checkbox bg-primary text-black"
              type="checkbox"
              [checked]="hasRole(role.value)"
              (change)="toggleRole(role.value)"/>
            <!-- text -->
            <span class="text-sm text-primary">
              {{ role.label }}
            </span>
          </label>
        }
      </div>
    </label>
    
    <app-form-field-error  [control]="form.controls['roles']" />
    
    <!-- isActive field -->
    <label 
      id = "isactive"
      class="flex justify-items-center items-center gap-2 p-2">
      <!-- title -->
      <span class="text-primary">
        {{ 'DEVICE_AREAS.EDIT_DEVICE_AREA.FORM.IS_ACTIVE_LABEL' | translate }}
      </span>
      <!-- Input -->
      <div class="flex flex-col gap-2">
        <input
        class="checkbox bg-primary text-black"
        type="checkbox"
        id="isActive"
        name="isActive"
        formControlName="isActive"/>
      </div>
    </label>
    
    <!-- Submit button -->
    <button 
      type="submit" 
      class="btn btn-primary">
      <app-svg-icon name="edit"/>
    </button>
    
  </form>
</div>
