<!-- Container -->
<div class="bg-gray-900 text-white border rounded-lg border-primary">
  <!-- Header -->
  <header class="flex gap-2 justify-between items-center border-b border-primary">
    <!-- Title -->
    <h1 class="tex-2xl font-montserrat font-bold text-primary text-center ml-2">
      {{ 'AUTH.EDIT_USER.TITLE' | translate }}
    </h1>
    <!-- Cancel button -->
    <button 
      class="btn btn-primary m-1" 
      (click)="onCancel()">
      <!-- Icon -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
    </button>
  </header>
  
  <!-- Login form -->
  <form 
    class="m-5 flex flex-col gap-2"
    [formGroup]="form"
    (ngSubmit) = "onSubmit()">

    <!-- Fullname field -->
    <label class="flex items-center gap-2 input input-bordered">
      <svg xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="size-4 opacity-70">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
      </svg>
      
      <input
        type="text"
        class="grow"
        placeholder="{{ 'AUTH.EDIT_USER.FORM.FULLNAME_PLACEHOLDER' | translate }}"
        formControlName="fullname"/>

    </label>

    <app-form-field-error  [control]="form.controls['fullname']" />

    <!-- Email field -->
    <label class="flex items-center gap-2 input input-bordered">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70"
      >
        <path
          d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
        />
        <path
          d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
        />
      </svg>
      <input
        type="text"
        class="grow"
        placeholder="{{ 'AUTH.EDIT_USER.FORM.EMAIL_PLACEHOLDER' | translate }}"
        formControlName="email"/>
        
    </label>

    <app-form-field-error  [control]="form.controls['email']" />

    <!-- Roles field -->
    <label 
      id="roles"
      class="flex justify-items-center items-center gap-2 p-2">
      <!-- title -->
      <span class="text-primary">
        {{ 'AUTH.EDIT_USER.FORM.ROLES_LABEL' | translate }}
      </span>
      <!-- Input -->
      <div class="flex flex-col gap-2">

        @for (role of availableRoles; track role.value) {
          <label class="flex items-center gap-2 cursor-pointer">
            <!-- checkbox-->
            <input
              class="checkbox bg-primary text-black"
              type="checkbox"
              [checked]="hasRole(role.value)"
              (change)="toggleRole(role.value)"/>
            <!-- text -->
            <span class="text-sm text-primary">
              {{ role.label }}
            </span>
          </label>
        }
      </div>
    </label>
    
    <app-form-field-error  [control]="form.controls['roles']" />
    
    <!-- isActive field -->
    <label 
      id = "isactive"
      class="flex justify-items-center items-center gap-2 p-2">
      <!-- title -->
      <span class="text-primary">
        {{ 'DEVICE_AREAS.EDIT_DEVICE_AREA.FORM.IS_ACTIVE_LABEL' | translate }}
      </span>
      <!-- Input -->
      <div class="flex flex-col gap-2">
        <input
        class="checkbox bg-primary text-black"
        type="checkbox"
        id="isActive"
        name="isActive"
        formControlName="isActive"/>
      </div>
    </label>
    
    <!-- Submit button -->
    <button 
      type="submit" 
      class="btn btn-primary">
      {{ 'AUTH.EDIT_USER.FORM.SUBMIT_BUTTON' | translate }}
    </button>
    
  </form>
</div>
