<!-- Container -->
<div class="app-popup-container">
  <!-- Header -->
  <header class="app-popup-header">
    <!-- Title -->
    <h1 class="app-popup-header-title">
      {{ 'AUTH.EDIT_USER.TITLE' | translate }}
    </h1>
    <!-- Cancel button -->
    <button 
      class="app-popup-header-close-button" 
      (click)="onCancel()">
      <!-- Icon -->
      <app-svg-icon name="close"/>
    </button>
  </header>
  
  <!-- Body -->
  <div class="app-popup-body">
    <!-- Login form -->
    <form 
      class="app-form-container"
      [formGroup]="form"
      (ngSubmit) = "onSubmit()">

      <!-- Fullname field -->
      <div  class="app-form-field-input">
        <label class="input">
          <!-- icon -->
          <app-svg-icon name="user"/>
          <!-- input -->
          <input
            type="text"
            class="grow"
            placeholder="{{ 'AUTH.EDIT_USER.FORM.FULLNAME_PLACEHOLDER' | translate }}"
            formControlName="fullname"/>
        </label>
      </div>
      
      <app-form-field-error  [control]="form.controls['fullname']" />
      
      <!-- Email field -->
      <div  class="app-form-field-input">
        <label class="input">
          <!-- icon -->
          <app-svg-icon name="email"/>
          <!-- input -->
          <input
            type="text"
            class="grow"
            placeholder="{{ 'AUTH.EDIT_USER.FORM.EMAIL_PLACEHOLDER' | translate }}"
            formControlName="email"/>
        </label>
      </div>
      <app-form-field-error  [control]="form.controls['email']" />

      <!-- Roles field -->
      <div class="app-form-field-checkbox">
        <!-- title -->
        <span class="app-form-field-checkbox-span">
          {{ 'AUTH.EDIT_USER.FORM.ROLES_LABEL' | translate }}
        </span>
        <!-- Checkboxes -->
        <div class="app-form-field-checkbox-container">
          @for (role of availableRoles; track role.value) {
            <!-- Checkbox row -->
            <label class="app-form-field-checkbox-item">
              <!-- checkbox-->
              <input
                class="app-form-field-checkbox-item-input"
                type="checkbox"
                [checked]="hasRole(role.value)"
                (change)="toggleRole(role.value)"/>
              <!-- text -->
              <span class="app-form-field-checkbox-item-text">
                {{ role.label }}
              </span>
            </label>
          }
        </div>
      </div>
      <app-form-field-error  [control]="form.controls['roles']" />
      
      <!-- isActive field -->
      <div class="app-form-field-checkbox">
        <!-- title -->
        <span class="app-form-field-checkbox-span">
          {{ 'AUTH.EDIT_USER.FORM.STATUS_LABEL' | translate }}
        </span>
        <div class="app-form-field-checkbox-container">
          <!-- Checkbox row -->
          <label class="app-form-field-checkbox-item">
            <!-- Input -->
            <input
            class="app-form-field-checkbox-item-input"
            type="checkbox"
            name="isActive"
            formControlName="isActive"/>
            <!-- title -->
            <span class="app-form-field-checkbox-item-text">
              {{ 'DEVICE_AREAS.EDIT_DEVICE_AREA.FORM.IS_ACTIVE_LABEL' | translate }}
            </span>
          </label>
        </div>
      </div>
            
      <!-- Submit button -->
      <div class="app-form-field-submit">
        <button 
          type="submit" 
          class="app-form-field-submit-button">
          <app-svg-icon name="edit"/>
        </button>
      </div>

    </form>
  </div>
</div>
