<!-- Main -->
<main class="app-table-container">

  <!-- Pagination
  <section class="py-2 flex justify-between gap-2">
    <!-- Page size div -- 
    <div class="flex-1 flex flex-row justify-start gap-2">
      <button
        #btnPageSizes
        class="flex btn btn-primary hover:btn-secondary"
        (click)="toggleShowPageSizes($event)">
        <span class="text-sm md:text-base">{{ pageSize() || 'All' }}</span>
        <app-svg-icon [name]="showPopup() === 'pageSizes' ? 'arrow-up': 'arrow-down'"/>
      </button>
    </div>
    <!-- Page navigation div --
    <div
      class="flex-1 flex flex-row justify-center gap-2">
      <!-- Prev --
      <button class="btn btn-primary hover:btn-secondary">
        <
      </button>
      <!-- Page number --
      <button class="btn btn-primary hover:btn-secondary">
        100
      </button>
      <!-- Next --
      <button class="btn btn-primary hover:btn-secondary">
        >
      </button>
    </div>
    <!-- Filter div --
    <div
      class="flex-1 flex flex-row justify-end  gap-2">
      <!-- Filter by types --
      <button
        #btnTypes
        class="btn btn-primary hover:btn-secondary"
        (click)="toggleShowTypes($event)">
        <span class="text-sm md:text-base">Tipos</span>
        <app-svg-icon [name]="showPopup() === 'types' ? 'arrow-up': 'arrow-down'"/>
      </button>
      <!-- Filter by areas --
      <button
        #btnAreas
        class="btn btn-primary hover:btn-secondary"
        (click)="toggleShowAreas($event)">
        <span class="text-sm md:text-base">
          Areas
        </span>
        <app-svg-icon [name]="showPopup() === 'areas' ? 'arrow-up': 'arrow-down'"/>
      </button>
    </div>

  </section>

  <!-- Page zice listbox--
  @if (showPopup() === 'pageSizes') {
    <div 
      id="popup-page-size"
      class="fixed z-60 border border-primary"
      [style.left.px]="popupX()"
      [style.top.px]="popupY()" >
      <ul class="menu bg-base-200 w-20">
        @for (size of pageSizes; track $index) {
          <li
            class="rounded-lg"
            [class.bg-primary]="pageSize() === size">
            <button
              class="text-center block"
              (click)="onChangePageSize(size)">
              {{ size ?? 'All' }}
            </button></li>
        }
      </ul>
    </div>
  }
  @else if (showPopup() === 'types') {
    <!-- Container --
    <div 
      id="popup-types"  
      class="fixed z-60 border border-primary"
      [style.left.px]="popupX()"
      [style.top.px]="popupY()">
      <!-- List 
      <ul class="menu bg-base-200 w-40">
        <!-- All button -
        <li
          class="rounded-lg"
          [class.bg-primary]="filterByTypeId() === null">
          <button
            class="text-center block" 
            (click)="onChangeFilterByTypeId(null)">
            All
          </button></li>
        <!-- List -
        @for (deviceType of deviceTypes.value(); track deviceType.id) {
          <li
            class="rounded-lg"
            [class.bg-primary]="filterByTypeId() === deviceType.id">
            <button
              class="text-center block"
              (click)="onChangeFilterByTypeId(deviceType.id)">
              {{ deviceType.name }}
            </button></li>
        }
      </ul>
    </div>
  }
  @else if (showPopup() === 'areas') {
    <!-- Container 
    <div
      id="popup-areas"
      class="fixed z-60 border border-primary"
      [style.left.px]="popupX()"
      [style.top.px]="popupY()">
      <!-- List -
      <ul class="menu bg-base-200 w-40">
        <!-- All button -
        <li
          class="rounded-lg"
          [class.bg-primary]="filterByAreaId() === null">
          <button
            class="text-center block" 
            (click)="onChangeFilterByAreaId(null)">
            All
          </button></li>
        <!-- List -
        @for (deviceArea of deviceAreas.value(); track deviceArea.id) {
          <li
            class="rounded-lg"
            [class.bg-primary]="filterByAreaId() === deviceArea.id">
            <button
              class="text-center block"
              (click)="onChangeFilterByAreaId(deviceArea.id)">
              {{ deviceArea.name }}
            </button></li>
        }
      </ul>
    </div>
  }
 -->
  
  <!-- Table -->
  <table class="app-table"> <!-- app-table -->
    <!-- Header -->
    <thead class="app-table-header"> 
      <!-- Head row -->
      <tr class="">
        <!-- col 1 -->
        <th class="app-table-header-row-field text-center w-1">
          {{ 'DEVICES.DEVICE_ADMIN_TABLE.TABLE.HEADER.STATUS' | translate }}
        </th>
        <!-- col 2 -->
        <th class="app-table-header-row-field text-center w-1">
          {{ 'DEVICES.DEVICE_ADMIN_TABLE.TABLE.HEADER.NUMBER' | translate }}
        </th>
        <!-- col 3 -->
        <th class="app-table-header-row-field text-center">
          {{ 'DEVICES.DEVICE_ADMIN_TABLE.TABLE.HEADER.NAME' | translate }}
        </th>
        <!-- col 4 -->
        <th class="app-table-header-row-field text-center">
          {{ 'DEVICES.DEVICE_ADMIN_TABLE.TABLE.HEADER.TYPE' | translate }}
        </th>
        <!-- col 5 -->
        <th class="app-table-header-row-field text-center">
          {{ 'DEVICES.DEVICE_ADMIN_TABLE.TABLE.HEADER.AREA' | translate }}
        </th> 
        <!-- col 6 -->
        <th class="app-table-header-row-field">
          {{ 'DEVICES.DEVICE_ADMIN_TABLE.TABLE.HEADER.DESCRIPTION' | translate }}
        </th>
        <!-- col 7: Details, no header -->
        <th class="app-table-header-row-field w-1">
          
        </th>
      </tr>
    </thead>

    <!-- Rows -->
    <tbody>
      @for (device of devices.value(); track device.id) {
        <!-- row x -->
        <tr>
          <!-- Col 1: Status -->
          <td class="app-table-body-row-field">
            <span class="app-table-body-row-field-status">
              {{ device.isActive ? '🟢' : '🟠' }}
            </span>
          </td>
          <!-- Col 2: Nr -->
          <td class="app-table-body-row-field">
            <span class="app-table-body-row-field-status app-table-body-row-field-text">
              {{ device.number }}
            </span>
          </td>
          
          <!-- Col 3: Name -->
          <td class="app-table-body-row-field">
            <div class="app-table-body-row-field-left">
              <div class="app-table-body-row-field-text">{{ device.name }}</div>
              <div class="app-table-body-row-field-text italic text-primary/50">{{ device.hwId }}</div>
            </div>
          </td>
          
          <!-- Col 4: Type -->
          <td class="app-table-body-row-field">
            <div class="app-table-body-row-field-left">
              <div class="app-table-body-row-field-text text-primary/50">
                {{  device.deviceType?.name || '???' }}
              </div>
            </div>
          </td>

          <!-- Col 5: Area -->
          <td class="app-table-body-row-field">
            <div class="app-table-body-row-field-left">
              <div class="app-table-body-row-field-text text-primary/50">
                {{  device.deviceArea?.name || '???' }}
              </div>
            </div>
          </td>
          <!-- Col 6: Description -->
          <td class="app-table-body-row-field">
            <div class="app-table-body-row-field-left">
              <div class="app-table-body-row-field-text text-primary/50">
                {{ device.description }}
              </div>
            </div>
          </td>

          <!-- Col 7: Details button -->
          <td class="app-table-body-row-field">
            <div class="app-table-body-row-field-actions">
              <!-- Edit button-->
              <button
                class="app-table-body-row-field-actions-button"
                (click)="onUpdateOne(device)">
                <!--edit icon-->
                <app-svg-icon name="edit"/>
              </button>
              <!-- Delete button -->
              <button 
                class="app-table-body-row-field-actions-button"
                (click)="onDeleteOne(device)">
                <!--delete icon-->
                <app-svg-icon name="delete"/>
              </button>
            </div>
            
          </td>
          
        </tr>
      
      } 
      @empty {
        <span class="text-secondary">
          {{ 'DEVICES.DEVICE_ADMIN_TABLE.TABLE.NO_DATA' | translate }}
        </span>
      }
      
    </tbody>
  </table>

</main>