<section class=app-table-container>
  <table class="app-table">

    <!-- Header -->
    <thead class="app-table-header">
      <tr class="">
        <!-- col 1 -->
        <th class="app-table-field-header text-center">
          {{ 'DEVICES.DEVICE_TABLE.TABLE.HEADER.STATUS' | translate }}
        </th>
        <!-- col 2 -->
        <th class="app-table-field-header text-center">
          {{ 'DEVICES.DEVICE_TABLE.TABLE.HEADER.NUMBER' | translate }}
        </th>
        <!-- col 3 -->
        <th class="app-table-field-header">
          {{ 'DEVICES.DEVICE_TABLE.TABLE.HEADER.NAME' | translate }}
        </th>
        <!-- col 4 -->
        <th class="app-table-field-header">
          {{ 'DEVICES.DEVICE_TABLE.TABLE.HEADER.TYPE' | translate }}
        </th>
        <!-- col 5 -->
        <th class="app-table-field-header">
          {{ 'DEVICES.DEVICE_TABLE.TABLE.HEADER.AREA' | translate }}
        </th> 
        <!-- col 6 -->
        <th class="app-table-field-header">
          {{ 'DEVICES.DEVICE_TABLE.TABLE.HEADER.DESCRIPTION' | translate }}
        </th>
        <!-- col 7: Details, no header -->
        <th class="app-table-field-header">
          
        </th>
      </tr>
    </thead>

    <!-- Rows -->
    <tbody>

      @for (device of devices(); track device.id) {
      
        <!-- row x -->
        <tr>
          
          <!-- Col 1: Status -->
          <th>
            <span class="app-table-field-status">
              {{ device.isActive ? '🟢' : '🟠' }}
            </span>
          </th>
          <!-- Col 2: Nr -->
          <td>
            <span class="app-table-field-status app-table-field-text">
              {{ device.number }}
            </span>
          </td>
          
          <!-- Col 3: Name -->
          <td>
            <div class="app-table-field-left">
              <div class="app-table-field-text">{{ device.name }}</div>
              <div class="app-table-field-text italic text-primary/50">{{ device.hwId }}</div>
            </div>
          </td>
          
          <!-- Col 4: Type -->
          <td>
            <div class="app-table-field-left">
              <div class="app-table-field-text text-primary/50">
                {{  device.deviceType?.name || '???' }}
              </div>
            </div>
          </td>

          <!-- Col 5: Area -->
          <td>
            <div class="app-table-field-left">
              <div class="app-table-field-text text-primary/50">
                {{  device.deviceArea?.name || '???' }}
              </div>
            </div>
          </td>
          <!-- Col 6: Description -->
          <td>
            <div class="app-table-field-left">
              <div class="app-table-field-text text-primary/50">
                {{ device.description }}
              </div>
            </div>
          </td>

          <!-- Col 7: Details button -->
          <th>
            <div class="app-table-field-buttons">
              <!-- Edit button-->
              <button
                class="app-table-field-buttons-button"
                (click)="onUpdateOne(device)">
                <!--edit icon-->
                <app-svg-icon name="edit"/>
              </button>
              <!-- Delete button -->
              <button 
                class="app-table-field-buttons-button"
                (click)="onDeleteOne(device)">
                <!--delete icon-->
                <app-svg-icon name="delete"/>
              </button>
            </div>
            
          </th>
          
        </tr>
      
      } 
      @empty {
        <span class="text-secondary">
          {{ 'DEVICES.DEVICE_TABLE.TABLE.NO_DATA' | translate }}
        </span>
      }
      
    </tbody>
  </table>
</section>