<!-- Container -->
<div class="popup-container">
  <!-- Header -->
  <header class="popup-header">
    <!-- Title -->
    <h1 class="popup-header-title">
      {{ 'DEVICE_AREAS.EDIT_DEVICE_AREA.TITLE' | translate }}
    </h1>
    <!-- Cancel button -->
    <button 
      class="popup-header-close-button" 
      (click)="onCancel()">
      <!-- Icon -->
      <app-svg-icon name="close"/>
    </button>
  </header>

  <!-- Form -->
  <form 
    class="mx-10 my-5 flex flex-col gap-3 items-center"
    [formGroup]="form"
    (ngSubmit) = "onSubmit()">
    <!-- Name field  -->
    <label class="flex items-center gap-2 input input-bordered">
      <!-- Icon -->
      <app-svg-icon name="device"/>
      <!--Input -->
      <input
        type="text"
        id="name"
        name="name"
        placeholder="{{ 'DEVICE_AREAS.EDIT_DEVICE_AREA.FORM.NAME_PLACEHOLDER' | translate }}"
        formControlName="name"/>
    </label>
    
    <app-form-field-error  [control]="form.controls['name']" />

    <!-- hwId field  -->
    <label class="flex items-center gap-2 input input-bordered">
      <!-- Icon -->
      <app-svg-icon name="hw"/>
      <!-- Input -->
      <input
        type="text"
        id="hwId"
        name="hwId"
        placeholder="{{ 'DEVICE_AREAS.EDIT_DEVICE_AREA.FORM.HWID_PLACEHOLDER' | translate }}"
        formControlName="hwId"/>
    </label>
    
    <app-form-field-error  [control]="form.controls['hwId']" />
    
    <!-- description field -->
    <label class="flex items-start gap-2 textarea textarea-bordered">
      <!-- Icon -->
      <app-svg-icon name="book"/>
      <!-- Input -->
      <textarea
        id="description"
        name="description"
        placeholder="{{ 'DEVICE_AREAS.EDIT_DEVICE_AREA.FORM.DESCRIPTION_PLACEHOLDER' | translate }}"
        rows="3"
        class="grow resize-none"
        formControlName="description"></textarea>
    </label>
    
    <!-- isActive field -->
    <label class="flex items-center gap-2">
      {{ 'DEVICE_AREAS.EDIT_DEVICE_AREA.FORM.IS_ACTIVE_LABEL' | translate }}
      <!-- Input -->
      <input
        class="checkbox bg-primary text-black"
        type="checkbox"
        id="isActive"
        name="isActive"
        formControlName="isActive"/>
    </label>
    
    <!-- Submit button -->      
    <button 
      type="submit"
      class="btn btn-primary mt-5">
      <!-- Icon -->
      <app-svg-icon name="edit"/>
    </button>

  </form>
</div>
