<!-- Button trigger -->
<button 
  type="button"
  class="btn btn-ghost btn-circle"
  (click)="toggleMenu()">
  <!-- Icon -->
  <span class="text-xl">
    {{ this.themeService.currentTheme().icon }}
  </span>
</button>

<!-- Theme Switcher -->
@if (isOpen()) {
  <div class="relative">
    <!-- Dropdown menu -->
    <ul
      [class.left-20]="isSidebarCollapsed()"
      [class.left-60]="!isSidebarCollapsed()"
      class="
        fixed z-50
        top-16
        mt-1 
        bg-base-100 menu
        rounded-lg
        border border-primary
        shadow-lg
        min-w-32">
      <!-- Theme list -->
      @for (theme of this.themeService.availableThemes(); track theme.code) {
        <li class="border-b border-primary pb-1 my-1">
          <!-- Button -->
          <button
            type="button"
            class="flex items-center flex-2 justify-between gap-5"
            [class.active]="theme.code === themeService.currentTheme().code"
            (click)="selectTheme(theme)">
            <!-- Icon -->
            <span class="text-xs">
              {{ theme.name + ' ' + theme.icon  }}
            </span>
            <!-- Icon -->
            @if (theme.code === themeService.currentTheme().code) {
              <app-svg-icon name="ok"/>
            }
          </button>
        </li>
      }
    </ul>
  
  </div>
}