<div class="overflow-x-auto">
  <table class="table">

    <!-- Header -->
    <thead>
      <tr>
        <!-- col 1 -->
        <th class="text-white font-bold text-center">Status</th>
        <!-- col 2 -->
        <th class="text-white font-bold">Name</th>
        <!-- col 3 -->
        <th class="text-white font-bold">Hw ID</th>
        <!-- col 4 -->
        <th class="hidden md:block text-white font-bold">Description</th>
        <!-- col 5: Details, no header -->
        <!-- empty -->
      </tr>
    </thead>

    <!-- Rows -->
    <tbody>

      @for (deviceArea of deviceAreas(); track deviceArea.id) {
      
        <!-- row x -->
        <tr>

          <!-- Col 1 -->
          <th>
            <div class="flex justify-center">
              <div 
                class="badge bg-green-500"
                [ngClass]="deviceArea.isActive ? 'bg-green-500' : 'bg-red-500'" >
              </div>
            </div>
          </th>
          
          <!-- Col 2: Name -->
          <td>
            <div class="flex items-center gap-3">
              <div class="font-bold">
                {{ deviceArea.name }}
              </div>
            </div>
          </td>
          
          <!-- Col 3: HW ID -->
          <td>
            <div class="flex items-center gap-3">
              <div class="text-sm opacity-50">
                {{ deviceArea.hwId }}
              </div>
            </div>
          </td>
          
          <!-- Col 4: Description -->
          <td class="hidden md:block">
            <div class="flex items-center gap-3">
              <div class="text-sm opacity-50">
                {{ deviceArea.description }}
              </div>
            </div>
          </td>

          <!-- Col 5: Details button -->
          <th>
            <a 
              [routerLink]="['/device-area', deviceArea.id]"
              class="btn btn-ghost text-accent btn-xs">
              Details
            </a>
          </th>
          
        </tr>
      
      } 
      @empty {
        <span>No device areas found!</span>
      }
      
    </tbody>
  </table>
</div>


