<div class=app-table-container>
  <!-- Table -->
  <table class="app-table">
    <!-- Header -->
    <thead>
      <tr>
        <!-- col 1: Status -->
        <th class="app-table-field-header text-center">
          {{ 'DEVICE_AREAS.DEVICE_AREA_TABLE.TABLE.HEADER.STATUS' | translate }}
        </th>
        <!-- col 2: Name -->
        <th class="app-table-field-header">
          {{ 'DEVICE_AREAS.DEVICE_AREA_TABLE.TABLE.HEADER.NAME' | translate }}
        </th>
        <!-- col 3: Description -->
        <th class="app-table-field-header">
          {{ 'DEVICE_AREAS.DEVICE_AREA_TABLE.TABLE.HEADER.DESCRIPTION' | translate }}
        </th>
        <!-- col 4: Edit and delete buttons -->
        <!-- empty -->
      </tr>
    </thead>
    <!-- Rows -->
    <tbody>
      @for (deviceArea of deviceAreas(); track deviceArea.id) {
        <!-- row x -->
        <tr>
          <!-- Col 1: Status -->
          <th>
            <span class="app-table-field-status">
              {{ deviceArea.isActive ? '🟢' : '🟠' }}
            </span>
          </th>
          <!-- Col 2: Name -->
          <td>
            <div class="app-table-field-left">
              <div class="app-table-field-text">{{ deviceArea.name }}</div>
              <div class="app-table-field-text italic text-primary/50">{{ deviceArea.hwId }}</div>
            </div>
          </td>
          <!-- Col 3: Description -->
          <td>
            <div class="app-table-field-left">
              <span class="app-table-field-text text-primary/50">
                {{ deviceArea.description }}
              </span>
            </div>
          </td>
          <!-- Col 4: Edit and delete buttons -->
          <th>
            <div class="app-table-field-buttons">
              <!-- Edit button-->
              <button
                class="app-table-field-buttons-button"
                (click)="onUpdateOne(deviceArea)">
                <!--edit icon-->
                <app-svg-icon name="edit" />
              </button>
              <!-- Delete button -->
              <button 
                class="app-table-field-buttons-button"
                (click)="onDeleteOne(deviceArea)">
                <!--delete icon-->
                <app-svg-icon name="delete" />
              </button>
            </div>
            
          </th>
        </tr>
      
      } 
      @empty {
        <span class="text-secondary">
          {{ 'DEVICE_AREAS.DEVICE_AREA_TABLE.TABLE.NO_DATA' | translate }}
        </span>
      }
      
    </tbody>
  </table>
</div>
