<div class=app-table-container>
  <!-- Table -->
  <table class="table">
    <!-- Header -->
    <thead>
      <tr>
        <!-- col 1: Status -->
        <th class="text-white font-bold text-center">
          {{ 'DEVICE_AREAS.DEVICE_AREA_TABLE.TABLE.HEADER.STATUS' | translate }}
        </th>
        <!-- col 2: Name -->
        <th class="text-white font-bold">
          {{ 'DEVICE_AREAS.DEVICE_AREA_TABLE.TABLE.HEADER.NAME' | translate }}
        </th>
        <!-- col 3: Description -->
        <th class="hidden md:block text-white font-bold">
          {{ 'DEVICE_AREAS.DEVICE_AREA_TABLE.TABLE.HEADER.DESCRIPTION' | translate }}
        </th>
        <!-- col 4: Edit and delete buttons -->
        <!-- empty -->
      </tr>
    </thead>
    <!-- Rows -->
    <tbody>
      @for (deviceArea of deviceAreas(); track deviceArea.id) {
        <!-- row x -->
        <tr>
          <!-- Col 1: Status -->
          <th>
            <span class="flex justify-center">
              {{ deviceArea.isActive ? '🟢' : '🟠' }}
            </span>
          </th>
          <!-- Col 2: Name -->
          <td>
            <div class="flex flex-col items-start">
              <div class="font-bold">{{ deviceArea.name }}</div>
              <div class="text-sm italic opacity-50">{{ deviceArea.hwId }}</div>
            </div>
          </td>
          <!-- Col 3: Description -->
          <td class="hidden md:block">
            <div class="flex items-center">
              <span class="text-sm italic opacity-50">
                {{ deviceArea.description }}
              </span>
            </div>
          </td>
          <!-- Col 4: Edit and delete buttons -->
          <th>
            <div class="flex justify-end gap-1">
              <!-- Edit button-->
              <button
                class="btn btn-xs btn-primary py-3.5"
                (click)="onUpdateOne(deviceArea)">
                <!--edit icon-->
                <app-svg-icon name="edit" />
              </button>
              <!-- Delete button -->
              <button 
                class="btn btn-xs btn-primary py-3.5"
                (click)="onDeleteOne(deviceArea)">
                <!--delete icon-->
                <app-svg-icon name="delete" />
              </button>
            </div>
            
          </th>
        </tr>
      
      } 
      @empty {
        <span>
          {{ 'DEVICE_AREAS.DEVICE_AREA_TABLE.TABLE.NO_DATA' | translate }}
        </span>
      }
      
    </tbody>

  </table>
</div>


