<!-- Container -->
<div class="app-popup-container">
  <!-- Header -->
  <header class="app-popup-header">
    <!-- Title -->
    <h1 class="app-popup-header-title">
      {{ 'AUTH.REGISTER_USER.TITLE' | translate }}
    </h1>
    <!-- Cancel button -->
    <button 
      class="app-popup-header-close-button hidden">
      <!--(click)="onCancel()"-->
      <!-- Icon -->     
      <app-svg-icon name="close"/>
    </button>
  </header>
  <!-- Body -->
  <div class="app-popup-body">
    <!-- Login form -->
    <form 
      class="app-form-container"
      [formGroup]="form"
      (ngSubmit) = "onSubmit()">

      <!-- Fullname field -->
      <div class="app-form-field-input">
        <label class="input">
          <!-- icon -->
          <app-svg-icon name="user"/>
          <!-- input -->
          <input
            type="text"
            class="grow"
            placeholder="{{ 'AUTH.REGISTER_USER.FORM.FULLNAME_PLACEHOLDER' | translate }}"
            formControlName="fullname"/>
        </label>
      </div>
      <app-form-field-error  [control]="form.controls['fullname']" />

      <!-- Email field -->
      <div class="app-form-field-input">
        <label class="input">
          <!-- icon -->
          <app-svg-icon name="email"/>
          <!-- input -->
          <input
            type="text"
            class="grow"
            placeholder="{{ 'AUTH.REGISTER_USER.FORM.EMAIL_PLACEHOLDER' | translate }}"
            formControlName="email"/>
        </label>
      </div>
      <app-form-field-error  [control]="form.controls['email']" />

      <!-- Password 1 field -->
      <div class="app-form-field-input">
        <label class="input">
          <!-- icon -->
          <app-svg-icon name="key"/>
          <!-- input -->
          <input
            [type]="showPassword1() ? 'text' : 'password'"
            class="grow"
            placeholder="{{ 'AUTH.REGISTER_USER.FORM.PASSWORD_PLACEHOLDER' | translate }}"
            formControlName="password1"/>
          <!-- show/hide button -->
          <button
            type="button"
            tabindex="-1"
            (click)="toggleShowPassword1()">
            <!-- show/hide icon -->
            @if (showPassword1()) {<app-svg-icon name="eye-show"/>}
            @else {<app-svg-icon name="eye-hide"/>}
          </button> 
        </label>
      </div>
      <app-form-field-error  [control]="form.controls['password1']" />
      
      <!-- Password 2 field -->
      <div class="app-form-field-input">
        <label class="input">
          <!-- icon -->
          <app-svg-icon name="key"/>
          <!-- input -->
          <input
            [type]="showPassword2() ? 'text' : 'password'"
            class="grow"
            placeholder="{{ 'AUTH.REGISTER_USER.FORM.REPEAT_PASSWORD_PLACEHOLDER' | translate }}"
            formControlName="password2"/>
          <!-- Show/hide button -->
          <button
            type="button"
            tabindex="-1"
            (click)="toggleShowPassword2()">
            <!-- show/hide icon -->
            @if (showPassword2()) {<app-svg-icon name="eye-show"/>}
            @else {<app-svg-icon name="eye-hide"/>}
          </button>
        </label>
      </div>
      <app-form-field-error  [control]="form.controls['password2']" />

      <!-- Submit button -->
      <div class="app-form-field-submit">
        <button 
          type="submit" 
          class="app-form-field-submit-button">
          {{ 'AUTH.REGISTER_USER.FORM.SUBMIT_BUTTON' | translate }}
        </button>
      </div>
      
    </form>

    <!-- Login link -->
    <div class="app-form-footer">
      <p class="app-form-footer-text">
        {{ 'AUTH.REGISTER_USER.LOGIN.TEXT' | translate }}
        <a routerLink="/auth/login"
          class="app-form-footer-link">
          {{ 'AUTH.REGISTER_USER.LOGIN.LINK' | translate }}
        </a>
      </p>
    </div>
  </div>
</div>