<a 
  [routerLink]="path()"
  routerLinkActive="bg-primary"
  #rla="routerLinkActive"
  [ngClass]="{
    'justify-center px-5': isCollapsed(),
    'justify-start px-2': !isCollapsed()
  }"
  class=
    "w-full inline-flex
    items-center
    py-3
    rounded-lg
    border-b border-slate-700
    hover:bg-white/5
    transition ease-linear duration-150">
  
  <!-- Icon -->
  <div
    [ngClass]="rla.isActive ? 'text-black' : 'text-white'"
    class="flex items-center justify-center"
    [innerHTML]="safeSvgIcon()">
  </div>

  @if (!isCollapsed()) {
  <!-- Text block -->
  <div 
    class="flex flex-col ml-4">
    <!-- Title -->
    <span 
      [ngClass]="rla.isActive ? 'text-black' : 'text-white'"
      class = "text-lg font-bold leading-5">
      {{ title() }}
    </span>
    <!-- Subtitle -->
    <span 
      [ngClass]="rla.isActive ? 'text-black/50' : 'text-white/50'"
      class=" text-sm hidden md:block">
      {{ subtitle() }}
    </span>
  </div>
  }
  
</a>
