<!-- routerLinkActive="bg-primary"
#rla="routerLinkActive" -->
<a 
  [routerLink]="path()"
  class=
    "w-full inline-flex
    items-center
    py-3
    rounded-lg
    border-b border-slate-700
    hover:bg-white/5
    transition ease-linear duration-150
    bg-secondary"
  [class.justify-center]="isCollapsed()"
  [class.px-5]="isCollapsed()"
  [class.justify-start]="!isCollapsed()"
  [class.px-2]="!isCollapsed()">
  
  <!-- Icon -->
  <div
    class="flex items-center justify-center text-secondary-content">
    <app-svg-icon [name]="svgIconNameComputed()"/>
  </div>
  
  @if (!isCollapsed()) {
  <!-- Text block -->
  <div 
    class="flex flex-col ml-4">
    <!-- Title -->
    <span 
      class = "text-base md:text-lg font-bold leading-5 text-secondary-content">
      {{ title() }}
    </span>
    <!-- Subtitle -->
    <span 
      class=" text-xs md:text-sm text-secondary-content/50">
      {{ subtitle() }}
    </span>
  </div>
  }
  
</a>
