<!-- Container -->
<div class="app-popup-container">
  <!-- Header -->
  <header class="app-popup-header">
    <!-- Title -->
    <h1 class="app-popup-header-title">
      {{ 'DEVICE_TYPES.CREATE_DEVICE_TYPE.TITLE' | translate }}
    </h1>
    <!-- Cancel button -->
    <button 
      class="app-popup-header-close-button" 
      (click)="onCancel()">
      <!-- Icon -->
      <app-svg-icon name="close"/>
    </button>
  </header>

  <!-- Body -->
  <div class="app-popup-body">
    <!-- Form -->
    <form 
      class="app-form-container"
      [formGroup]="form"
      (ngSubmit) = "onSubmit()">

      <!-- Name field  -->
      <div class="app-form-field-input">
        <label class="input">
          <!-- Icon -->
          <app-svg-icon name="device"/>
          <!--Input -->
          <input
            type="text"
            id="name"
            name="name"
            placeholder="{{ 'DEVICE_TYPES.CREATE_DEVICE_TYPE.FORM.NAME_PLACEHOLDER' | translate }}"
            formControlName="name"/>
        </label>
      </div>
      <app-form-field-error  [control]="form.controls['name']" />

      <!-- hwId field  -->
      <div class="app-form-field-input">
        <label class="input">
          <!-- Icon -->
          <app-svg-icon name="hw"/>
          <!-- Input -->
          <input
            type="text"
            id="hwId"
            name="hwId"
            placeholder="{{ 'DEVICE_TYPES.CREATE_DEVICE_TYPE.FORM.HWID_PLACEHOLDER' | translate }}"
            formControlName="hwId"/>
        </label>
      </div>
      <app-form-field-error  [control]="form.controls['hwId']" />
      
      <!-- description field -->
      <div class="app-form-field-input">
        <label class="textarea flex ">
          <!-- Icon -->      
          <app-svg-icon name="book"/>
          <!-- Input -->
          <textarea
            id="description"
            name="description"
            placeholder="{{'DEVICE_TYPES.CREATE_DEVICE_TYPE.FORM.DESCRIPTION_PLACEHOLDER' | translate}}"
            rows="3"
            class="grow resize-none pl-1"
            formControlName="description">
          </textarea>
        </label>
      </div>

      <!-- isActive field -->
      <div class="app-form-field-checkbox">
        <!-- title -->
        <span class="app-form-field-checkbox-span">
          {{ 'DEVICE_TYPES.CREATE_DEVICE_TYPE.FORM.STATUS_LABEL' | translate }}
        </span>
        <!-- Checkbox container -->
        <div class="app-form-field-checkbox-container">
          <!-- Checkbox row -->
          <label class="app-form-field-checkbox-item">
            <!-- Input -->
            <input
              class="app-form-field-checkbox-item-input"
              type="checkbox"
              id="isActive"
              name="isActive"
              formControlName="isActive"/>
            <!-- title -->
            <span class="app-form-field-checkbox-item-text">
              {{ 'DEVICE_TYPES.CREATE_DEVICE_TYPE.FORM.IS_ACTIVE_LABEL' | translate }}
            </span>
          </label>
        </div>
      </div>
      
      <!-- Submit button -->      
      <div class="app-form-field-submit">
        <button 
          type="submit" 
          class="app-form-field-submit-button">
          <app-svg-icon name="add"/>
        </button>
      </div>
      
    </form>
  </div>
</div>
