<section class="pt-2 sticky top-25.5 z-30 bg-base-100">
  
  <!-- #region -->
  <div class="menu menu-horizontal px-1 gap-2 items-stretch">
    <app-svg-icon name="filter"/>
    <!-- Device Areas Menu -->
    <app-filter-list
      id="device-areas"
      label="DEVICES.DEVICE_CONTROL_TABLE.FILTER.DEVICE_AREAS"
      labelAll="DEVICES.DEVICE_CONTROL_TABLE.FILTER.LABEL_ALL"
      icon="house"
      [items]="deviceAreas.value() || []"
      [currentFilter]="filterByAreaId()"
      (onClick)="setFilterByAreaId($event)"/>
    <!-- Device Types Menu -->
    <app-filter-list
      id="device-types"
      label="DEVICES.DEVICE_CONTROL_TABLE.FILTER.DEVICE_TYPES"
      labelAll="DEVICES.DEVICE_CONTROL_TABLE.FILTER.LABEL_ALL"
      icon="device"
      [items]="deviceTypes.value() || []"
      [currentFilter]="filterByTypeId()"
      (onClick)="setFilterByTypeId($event)"/>
  </div>

  <!-- Divider -->
  <div class="app-page-header-divider"></div>
</section>


<section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4">
  @for (device of devices.value(); track $index) {
    <app-common-device-control [device]="device"/>
  }
</section>