<a 
  [routerLink]="path()"
  routerLinkActive="bg-primary"
  #rla="routerLinkActive"
  [ngClass]="isCollapsed() ? 'justify-center px-5': 'justify-start px-2'"
  class=
    "w-full inline-flex
    items-center
    py-3
    rounded-lg
    border-b border-slate-700
    hover:bg-white/5
    transition ease-linear duration-150">
  
  <!-- Icon -->
  <div
    [ngClass]="rla.isActive ? 'text-primary-content' : 'text-base-content/50'"
    class="flex items-center justify-center">
    <app-svg-icon [name]="svgIconNameComputed()"></app-svg-icon>
  </div>
  
  @if (!isCollapsed()) {
  <!-- Text block -->
  <div 
    class="flex flex-col ml-4">
    <!-- Title -->
    <span 
      [ngClass]="rla.isActive ? 'text-primary-content' : 'text-base-content/50'"
      class = "text-lg font-bold leading-5">
      {{ title() }}
    </span>
    <!-- Subtitle -->
    <span 
      [ngClass]="rla.isActive ? 'text-primary-content/50' : 'text-base-content/40'"
      class=" text-sm hidden md:block">
      {{ subtitle() }}
    </span>
  </div>
  }
  
</a>
