<div class="card bg-base-200 shadow-xl">
  <div class="card-body p-4">

    <h2 class="text-center text-lg text-primary font-semibold mb-2">
      {{ translationBase() + '.TITLE' | translate }}: {{ total() }}
    </h2>
    <span class="text-left text-base text-[#00ff00]">
      {{ translationBase() + '.ACTIVE' | translate }}: {{ actives() }}
    </span>
    <span class="text-left text-base text-[#ff0000]">
      {{ translationBase() + '.INACTIVE' | translate }}: {{ inactives() }}
    </span>

    <canvas #chartNameRef></canvas>

  </div>
</div>
