<div class=app-table-container>
  <!-- Table -->
  <table class="table">
    <!-- Header -->
    <thead>
      <tr>
        <!-- col 1: Status -->
        <th class="text-xs md:text-sm font-normal md:font-bold text-white text-center">
          {{ 'AUTH.USER_TABLE.TABLE.HEADER.STATUS' | translate }}
        </th>
        <!-- col 2: Name -->
        <th class="text-xs md:text-sm font-normal md:font-bold text-white">
          {{ 'AUTH.USER_TABLE.TABLE.HEADER.NAME' | translate }}
        </th>
        <!-- col 3: Email -->
        <th class="text-xs md:text-sm font-normal md:font-bold text-white hidden md:visible">
          {{ 'AUTH.USER_TABLE.TABLE.HEADER.EMAIL' | translate }}
        </th>
        <!-- COL 4: Roles -->
        <th class="text-xs md:text-sm font-normal md:font-bold text-white">
          {{ 'AUTH.USER_TABLE.TABLE.HEADER.ROLES' | translate }}
        </th>
        <!-- col 5: Edit and delete buttons -->
        <!-- empty -->
      </tr>
    </thead>
    <!-- Rows -->
    <tbody>
      @for (user of users(); track user.id) {
        <!-- row x -->
        <tr>
          <!-- Col 1: Status -->
          <th>
            <span class="flex justify-center">
              {{ user.isActive ? '🟢' : '🟠' }}
            </span>
          </th>
          <!-- Col 2: Name -->
          <td>
            <div class="flex flex-col items-start">
              <div class=" text-xs md:text-sm">{{ user.fullname }}</div>
            </div>
            <div class="visible md:hidden flex flex-col items-start">
              <div class=" text-xs md:text-sm font-normal italic text-primary/50">{{ user.email }}</div>
            </div>
          </td>
          <!-- Col 3: Email -->
          <td class="hidden md:block">
            <div class="flex flex-col items-start">
              <div class=" text-xs md:text-sm font-normal">{{ user.email }}</div>
            </div>
          </td>
          <!-- Col 4: Roles -->
          <td>
            <div class="flex justify-start gap-1 flex-wrap">
              @for (role of user.roles; track $index) {
                <span class="btn btn-xs btn-secondary italic">{{ role }}</span>
              }
            </div>
          </td>
          <!-- Col 4: Edit and delete buttons -->
          <th>
            <div class="flex justify-end gap-1">
              <!-- Edit button-->
              <button
                class="btn btn-xs btn-primary py-3.5"
                (click)="onUpdateOne(user)">
                <!--edit icon-->
                <app-svg-icon name="edit"/>
              </button>
              <!-- Delete button -->
              <button 
                [disabled]="user.id === currentUserId"
                class="btn btn-xs btn-primary py-3.5"
                (click)="onDeleteOne(user)">
                <!--delete icon-->
                <app-svg-icon name="delete"/>
              </button>

            </div>
            
          </th>
        </tr>
      
      } 
      @empty {
        <span>
          {{ 'AUTH.USER_TABLE.TABLE.NO_DATA' | translate }}
        </span>
      }
      
    </tbody>

  </table>
</div>


