<!-- All screen -->
<div 
  class="w-screen h-screen flex antialiased overflow-hidden">
  <!-- Left side menu position -->
  <header
    class="
      shrink-0
      h-screen overflow-y-auto
      shadow-lg
      bg-base-200
      border-r-2 border-primary/50
      transition-all duration-300"
    [class.w-20]="isSidebarCollapsed()"
    [class.w-60]="!isSidebarCollapsed()">
    <!-- Title, subtitle -->
    <section
      class="my-2 transition-all duration-300"
      [class.px-0]="isSidebarCollapsed()"
      [class.px-6]="!isSidebarCollapsed()">
      <!-- Title-->
      <app-layout-brand-name
        [isSidebarCollapsed]="isSidebarCollapsed()"/>
      <!-- Subtitle -->
      <app-layout-subtitle
        [isSidebarCollapsed]="isSidebarCollapsed()"
        subtitle="ADMIN_DASHBOARD.LAYOUT.SUBTITLE"/>
    </section>

    <!-- Divider -->
    <div class="divider my-0"></div>
    
    <!-- Option buttons -->
    <section
      class="flex flex-row items-center my-2"
      [class.flex-row]="!isSidebarCollapsed()"
      [class.flex-col]="isSidebarCollapsed()">
      <!-- Theme toggle button -->
      <div class="flex-2 flex justify-center">
        <app-layout-theme-switcher 
          [isSidebarCollapsed] = "isSidebarCollapsed()"/>
      </div>
      <!-- Language button -->
      <div class="flex-5 flex justify-center">
        <app-layout-language-switcher
          [isSidebarCollapsed] = "isSidebarCollapsed()"/>
      </div>
    </section>

    <!-- Divider -->
    <div class="divider my-0"></div>

    <!-- User name -->
    <app-layout-user-name
      [isSidebarCollapsed]="isSidebarCollapsed()"
      [fullname]="user()?.fullname || '???'"
      welcomeText="ADMIN_DASHBOARD.LAYOUT.WELCOME"/>
    
    <!-- Divider -->
    <div class="divider my-0"></div>

    <!-- Navigation buttons -->
    <nav class="w-full px-3">

        <!-- Main Panel button -->
      <app-layout-link-button-secondary
        title="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.MAIN_DEVICES.TITLE' | translate }}"
        subtitle="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.MAIN_DEVICES.SUBTITLE' | translate }}"
        path="/devices"
        [isCollapsed]="isSidebarCollapsed()"
        svgIconName="lamp"/>

      <div class="divider my-0"></div>

      <!-- Dashboard button -->
      <app-layout-link-button-primary
        title="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DASHBOARD.TITLE' | translate }}"
        subtitle="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DASHBOARD.SUBTITLE' | translate }}"
        path="/admin/dashboard"
        [isCollapsed]="isSidebarCollapsed()"
        svgIconName="dashboard"/>
      
      <!-- Devices button -->
      <app-layout-link-button-primary
        title="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DEVICES.TITLE' | translate }}"
        subtitle="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DEVICES.SUBTITLE' | translate }}"
        path="/admin/devices"
        [isCollapsed]="isSidebarCollapsed()"
        svgIconName="lamp"/>
      
      <!-- Device areas button -->
      <app-layout-link-button-primary
        title="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DEVICE_AREAS.TITLE' | translate }}"
        subtitle="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DEVICE_AREAS.SUBTITLE' | translate }}"
        path="/admin/device-areas"
        [isCollapsed]="isSidebarCollapsed()"
        svgIconName="house"/>
      
      <!-- Device types button -->
      <app-layout-link-button-primary
        title="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DEVICE_TYPES.TITLE' | translate }}"
        subtitle="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.DEVICE_TYPES.SUBTITLE' | translate }}"
        path="/admin/device-types"
        [isCollapsed]="isSidebarCollapsed()"
        svgIconName="folder"/>
      
      <!-- Users button -->
      <app-layout-link-button-primary
        title="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.USERS.TITLE' | translate }}"
        subtitle="{{ 'ADMIN_DASHBOARD.LAYOUT.NAV_BUTTONS.USERS.SUBTITLE' | translate }}"
        path="/admin/users"
        [isCollapsed]="isSidebarCollapsed()"
        svgIconName="users"/>
      
    </nav>

    <!-- Logout button -->
    <app-layout-logout-button
      [isSidebarCollapsed]="isSidebarCollapsed()"/>
    
    <!-- Toggle sidebar button -->
    <app-layout-toggle-sidebar-button
      [isSidebarCollapsed]="isSidebarCollapsed()"
      (toggleSidebar)="toggleSidebar()"/>

  </header>

  <!-- Main content -->
  <main 
    class="flex-1 overflow-auto pl-10 pr-5">
    <router-outlet/>
  </main>
  
</div>
