<div class="navbar bg-base-100 shadow-sm">

  <!-- Left elements -->
  <div class="navbar-start">
    
    <!-- Left-side dropdown menu buttons when the width is for Mobile -->
    <div class="dropdown">
      
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        
        <li><a
          routerLink="/all"
          class="text-left btn btn-ghost"
          routerLinkActive="text-secondary">
          All
        </a></li>
        
        <li>
          <a>Area</a>
          <ul class="p-2">
            <li><a
              routerLink="devices/main-room"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Main room
            </a></li>

            <li><a
              routerLink="devices/children-room"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Children's Room
            </a></li>

            <li><a
              routerLink="devices/office"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Office
            </a></li>
            
            <li><a
              routerLink="devices/hallway"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Hallway
            </a></li> <!-- Pasillo -->

            <li><a
              routerLink="devices/entrance"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Entrance
            </a></li>

            <li><a
              routerLink="devices/dining-room"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Dining room
            </a></li> <!-- Comedor -->

            <li><a
              routerLink="deviceskitchen"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Kitchen
            </a></li>

            <li><a
              routerLink="devices/bathroom"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Bathroom
            </a></li> <!-- Cuarto de baño -->

            <li><a
              routerLink="devices/toilet"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Toilet
            </a></li> <!-- aseo -->
          </ul>
        </li>
        
        <li>
          <a>Device type</a>
          <ul class="p-2">
            <li><a
              routerLink="devices/lights"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Lights
            </a></li>

            <li><a
              routerLink="devices/blinds"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Blinds
            </a></li>

            <li><a
              routerLink="devices/appliances"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Appliances
            </a></li><!-- electrodomésticos -->
          </ul>
        </li>
        

        <!--
        <li><a>Item 3</a></li>
        -->

      </ul>
    </div>

    <!-- Page title -->
    <a class="btn btn-ghost text-xl"
      routerLink="/">Home <span class="text-primary">Assistant</span> </a>

  </div>

  <!-- Central elements -->
  <!-- Central menu buttons when the width is for PC -->
  <div class="navbar-center hidden lg:flex">
    
    <ul class="menu menu-horizontal px-1">
      
      <li><a
        routerLink="devices/all"
        routerLinkActive="text-secondary">
        All
      </a></li>
      
      <li>
        <details>
          <summary>Area</summary>
          <ul class="p-2">
            <li><a
              routerLink="devices/main-room"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Main room
            </a></li>

            <li><a
              routerLink="devices/children-room"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Children's Room
            </a></li>

            <li><a
              routerLink="devices/office"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Office
            </a></li>
            
            <li><a
              routerLink="devices/hallway"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Hallway
            </a></li> <!-- Pasillo -->

            <li><a
              routerLink="devices/entrance"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Entrance
            </a></li>

            <li><a
              routerLink="devices/dining-room"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Dining room
            </a></li> <!-- Comedor -->

            <li><a
              routerLink="devices/kitchen"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Kitchen
            </a></li>

            <li><a
              routerLink="devices/bathroom"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Bathroom
            </a></li> <!-- Cuarto de baño -->

            <li><a
              routerLink="devices/toilet"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Toilet
            </a></li> <!-- aseo -->
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>Device type</summary>
          <ul class="p-2">
            <li><a
              routerLink="devices/lights"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Lights
            </a></li>

            <li><a
              routerLink="devices/blinds"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Blinds
            </a></li>

            <li><a
              routerLink="devices/appliances"
              class="btn btn-ghost"
              routerLinkActive="text-secondary">
              Appliances
            </a></li><!-- electrodomésticos -->
          </ul>
        </details>
      </li>
      
      <!--
      <li><a>Item 3</a></li>
      -->

    </ul>
  </div>

  <!-- Right elements -->
  <div class="navbar-end">
    
    <span class="mx-2">
      {{ authApi.authStatus() }}
    </span>

    <!-- Show user name and exit button when authenticated -->
    @if (authApi.authStatus() === 'authenticated') {
      <button class="btn btn-sm btn-ghost">{{ authApi.user()?.fullname }}</button>
      <button class="btn btn-sm btn-primary" (click)="logout()" >Logout</button>
    }
    <!-- Show login button when not-authenticated -->
    @else if (authApi.authStatus() === 'not-authenticated') {
      <a 
        class="btn btn-primary"
        routerLink="/auth/login"
        >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
        </svg>
      </a>
    }
    <!-- Show ... while is login -->
    @else {
      <a class="btn btn-ghost">...</a>
    }
    


  </div>

</div>
